@model BoxShop.ViewModels.HomeViewModel


    <h2>@Model.Title</h2>

    @foreach (var gloves in Model.Gloves)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@gloves.ImageThumbnailUrl" alt="" >
                <div class="caption">

                    <h3 class="pull-right">@gloves.Price.ToString("c")</h3>
                    <h3>
                    @gloves.Name
                    </h3>
                    <p>@gloves.ShortDescription</p>
                </div>
            </div>
            </div>
    }



